<!DOCTYPE html>
<html>
<head>
  <title>Book Filghts for Your Journey</title>
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <link rel="shortcut icon" href="title.png" type="img/png">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family= Anton" rel="stylesheet">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- For Date pick -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script src="register.js"></script>
  <script type="text/javascript">
   
  </script>
  <style type="text/css">

  </style>
</head>

<body>
  <!-- Navigation Bar open -->

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">GoAir</a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="aboutus.html">About US</a></li>
          <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#manageModal">Manage Bookings</button></li>
          
          <!-- Manage dialog  -->

          <div class="modal fade" id="manageModal" tabindex="-1" role="dialog"  aria-labelledby="basicModal" aria-hidden="true">
           <div class="modal-dialog">
            <div class="modal-content">

             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" data-backdrop = "static" aria-hidden="true"></button>
               <h4 class="modal-title" id="myModalLabel">Manage/Edit your details</h4>
             </div>

             <div class="modal-body">

               <!--Panel1 -->
               <div class="panel panel-default">
                 <div class="panel-heading">
                  Bookings 
                </div>
                <div class="panel-body">
                 <a href="Booking.html">Your Bookings</a>
               </div>
             </div>
             
             <!--Panel 2 -->
             <div class="panel panel-default">
               <div class="panel-heading">
                 User Support
               </div>
               <div class="panel-body">
                 <a href="manageUsers.html">Your Personal details</a>
               </div>
             </div>

           </div>
           <!--Modal body closed -->
         </div>
       </div>
     </div>

     <!--Manage Dialog Closed -->
     <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#registerModal">Sign Up</button></li>




     <!-- Register Dialog Open -->
     <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"  aria-labelledby="basicModal" aria-hidden="true">
       <div class="modal-dialog">
        <div class="modal-content">

         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" data-backdrop = "static" aria-hidden="true"></button>
           <h4 class="modal-title" id="myModalLabel">Please sign Up to book tickets</h4>
         </div>

         <div class="modal-body">

           <!--Panel start -->

           <div class="panel-body" ng-app="myApp" ng-controller="myCtrl">

            <!--From Start -->
            <form role="registerForm" id="registerForm" ng-submit="submitMyForm()" autocomplete="on">

              <!--First Name Input -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="fields.first_name">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="middle_name" id="Middle_name" class="form-control input-sm" placeholder="Middle Name" ng-model="fields.middle_name">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="fields.last_name">
                  </div>
                </div>

              </div>
              <!--First row closed -->
              
              <div class="row">
                <div class="col-md-6">
                  <!-- Email & Password input -->
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="fields.email">
                  </div>
                </div>
              </div>
              <!--Second row closed -->


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="fields.password">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" >
                  </div>
                </div>

              </div>

              <!--Third row closed-->


              <!-- Gender Input -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-check-input"  type="radio" name="gender" value="M" ng-model="fields.gender" checked>
                    <label class=".control-label" style=" font-family: 'Anton', sans-serif;">Male</label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-check-input" type="radio" name="gender" value="F" ng-model="fields.gender">
                    <label class=".control-label" style=" font-family: 'Anton', sans-serif;">Female</label>
                  </div>
                </div>

              </div>

              <!--Fourth row closed -->


              <!--Phone Number Input -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" name="phone_number" id="phoneNumber" class="form-control input-sm" placeholder="Phone Number" ng-model="fields.phone_primary"> 
                  </div>
                </div>
              </div>
              <!--Fifth row closed -->
              <br>

              <!--Date of Birth Input -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" name="age" id="age" class="form-control input-sm" placeholder="Age" ng-model="fields.age"> 
                  </div> 
                </div>
              </div>  
              <!--Sixth row closed -->
              <br>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <input type="submit" value="Register" class="btn btn-info btn-block" >
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reigster Dialog closed -->
</ul>



<!-- Login Form -->
<form class="navbar-form navbar-right">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  </div>
  <div class="input-group">
    <input type="text" id="loginName" class="form-control" placeholder="Login Id">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" id="loginPassword" class="form-control" placeholder="Password">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" class="btn btn-default" <i class="glyphicon glyphicon-search"></i>Login</button>
    </div>

  </div>
</div>
</form>



</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>  

<!-- Navigation bar closed -->

</body>
</html>

