<html>
<head>
 <title>Please Select seats</title>
 <link rel="stylesheet" type="text/css" href="seatselection.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

 <link rel="shortcut icon" href="title.png" type="img/png">


 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <!-- For Date pick -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 <script src="seatSelection.js"></script>
 <script src="moment.js"></script>
 <style type="text/css">



 </style>
</head>

<body ng-app = "mySeatApp" ng-controller = "mySeatController">
  
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="modalButton">Open Modal</button>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog ">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">GoAir Message</h4>
        </div>
        <div class="modal-body">
          <p align="center" id = "alertText">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal -->


  <!-- Navigation Bar open -->

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">GoAir</a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="aboutus.html">About US</a></li>
        </ul>

        <!-- Right side navigation bar -->
        <form id="signInForm" class="navbar-form navbar-right" role="form">


          <button style="display: none;"  id="manageButton" type="button" class="btn btn-info" data-toggle="modal" data-target="#manageModal">Manage Bookings</button>

          <!-- Manage dialog  -->

          <div class="modal fade" id="manageModal" tabindex="-1" role="dialog"  aria-labelledby="basicModal" aria-hidden="true">
           <div class="modal-dialog">
            <div class="modal-content">

             <div class="modal-header">
               <button type="button"  class="close" data-dismiss="modal" data-backdrop = "static" aria-hidden="true"></button>
               <h4 class="modal-title" id="myModalLabel">Manage/Edit your details</h4>
             </div>

             <div class="modal-body">

               <!--Panel1 -->
               <div class="panel panel-default">
                 <div class="panel-heading">
                  Bookings 
                </div>
                <div class="panel-body">
                 <a href="Booking.html">Your Bookings</a>
               </div>
             </div>

             <!--Panel 2 -->
             <div class="panel panel-default">
               <div class="panel-heading">
                 User Support
               </div>
               <div class="panel-body">
                 <a href="manageUsers.html">Your Personal details</a>
               </div>
             </div>

           </div>
           <!--Modal body closed -->
         </div>
       </div>
     </div>
     <button  id="logOutButton" type="button" class="btn btn-info">Log Out</button>

   </form>



 </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>  

<!-- Navigation bar closed -->



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6">  
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>Please select seats according to your Choice!!</span>  
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3">
                  <span>Select</span>
                  <span ng-bind= "number_of_seats"> {{number_of_seats}}</span>  
                  <span>Seats</span>
                </div>  
              </div>
            </div>  
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<hr>
<br>
<br>
<br>

<div class="container" id="seat_Container">
 <div class="row">
  <div class="col-md-12">

    <div class="plane" >
      <div class="cockpit">
        <h1>Please select a seat</h1>

      </div>
      <div class="exit exit--front fuselage">



      </div>
      <ol class="cabin fuselage">

        <li ng-repeat="x in seatOptionData" class="row row--{{x.rowNum}}">

          <ol class="seats" type="A">
            <li ng-repeat="y in x.seatArr"  class="seat">
              <input disabled  type="checkbox" id="{{y}}" ng-click="seatClick()"/>
              <label for="{{y}}">{{y}}</label>
            </li>
          </ol>
        </li>
        

        
      </ol>
      <div class="exit exit--back fuselage">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-10">
        <button type="button" ng-click = "submitSeats()" class="btn btn-info btn-lg" data-dismiss="modal" id="submitButton">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>

</body>
</html>